*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(0, 0, 0);
    padding: 0px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 4px;

}
.nav{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}
.navbar h3{
    border: 2px solid whitesmoke;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
}
.menu{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
} 
ul a:hover{
  color: beige;
}
a li{
    display: inline-block;

    padding:    5px 20px;
    cursor: pointer;
}
ul a{
    text-decoration: none;
    color: aliceblue;
}
.bar , .close{
   display: none;
}

@media only screen and (max-width:700px){
    /* *{
        overflow-x: ;
    } */
    .mobile-menu{
      
        display: block;
        position: absolute;
        background-color: rgb(30, 26, 26);
        top: 50px;
        width: 100%;
        text-align: center;
        right: 0;
    }
    .menu{
        display: none;
    }
    .bar{
        display: block;
        position: absolute;
        right: 30px;
        color: aliceblue;
        font-size: 20px;
        text-decoration: none;
    }
    a li{
        display: block;
        width: 100%;
        border: 2px solid black;

    }
    h3{
        font-size: 18px;
        padding: 5px;
    }
  .heroimage{
    position: relative;
    right: 2rem;
  }
   a li:hover{
    border: 2px solid white;
    background-color: gray;
   }

}